@import url('./Spinner/spinner.css');
@import url('./button.css');

/*header {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    align-items: center;
}

.logo,
.logo img {
    width: 25vw;
    height: 10%;
}

nav {
    margin: 1em;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

nav ul li:hover {
    background-color: thistle;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 2.3rem;
}

h2 {
    text-align: center;
}

form {
    width: 90vw;
    margin: 2rem auto;
}

#id {
    display: none;
}

h2 {
    color: lightcoral;
}

.img-container {
    display: flex;
    justify-content: center;
    margin: 2.3em;
}

.img-main {
    width: 90vw;
}

form,
form fieldset {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

label,
.inner-fs {
    margin: 1em 0;
    width: 100%;
}

.inner-fs {
    display: flex;
    justify-content: space-between;
}

button {
    margin: 1em 0;
}

.btns-container {
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
    width: 90vw;
    margin: auto;
}

thead {
    background-color: lightgreen;
}

tr, th, td {
    border: 1px solid black;
}

th, td {
    overflow: hidden;
    text-align: center;
}

@media screen and (max-width: 1500px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        margin: 0;
    }

    nav ul {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    li {
        font-size: 3rem;
        text-align: center;
        background-color: #deb870;
        width: 100%;
        height: 100%;
    }

}*/

a {
    font-size: 2.3rem;
}